.collect{
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 6% 5%;
    flex-direction: column;
    border-radius: 12px;
}

.innercollect{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;  
}
